In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import itertools
%matplotlib inline

In [13]:
from Fonctions import *

In [14]:
def from_csv_to_occurences(path):
    
    df = pd.read_csv(path, sep = ",", header = 4, encoding = 'UTF-8')
    df.columns = ["indice","pre","lemma","post"]
    df.drop('lemma', axis = 1)
    
    liste_1 = df['pre'].str.split((' ')).tolist()
    liste_2 = df['post'].str.split((' ')).tolist()
    
    #il faut la fonction liste_bonne_taille
    
    liste1_ok = liste_bonne_taille(liste_1)
    liste2_ok = liste_bonne_taille(liste_2)
    
    liste_finale = liste1_ok + liste2_ok
    
    #import itertools
    
    liste_lemmes = list(itertools.chain.from_iterable(liste_finale))
    
    #il faut importer la fonction from_list_todic
    
    dico = from_list_todic(liste_lemmes)
    
    sortedDict = sorted(dico.items(), key=lambda x: x[1], reverse = True)
    
    df_test = pd.DataFrame.from_dict(sortedDict)
    df_test.columns = ["lemma","occurrences"]
    
    df_test = df_test[:101]
    
    return df_test

In [15]:
from_csv_to_occurences('/home/noe/Documents/Master_2/Mémoire/SketchEngineExport/seruus_calcul_cooccurrences/800-849.csv')

        lemma  occurrences
0          --          484
1          et          337
2     </s><s>          316
3      noster          164
4         tam          132
..        ...          ...
96      alius           12
97        ita           12
98      uolo2           12
99        lex           11
100  possideo           11

[101 rows x 2 columns]